<h1>Face embeddings visualization using t-SNE</h1>

<mat-card>
  <mat-card-content>

    <div>
      <h4>Perplexity [{{ perplexity }}] </h4>
      <mat-slider [disabled]="isGenerating" min="1" max="30" step="1" [(ngModel)]="perplexity" thumbLabel tickInterval="1000"></mat-slider>
    </div>

    <!--
    <div>
      <h4>KNN Iterations [{{ knnIterations }}]</h4>
      <mat-slider [disabled]="isGenerating" min="2" max="1500" step="1" [(ngModel)]="knnIterations" thumbLabel tickInterval="1000"></mat-slider>
    </div>
  -->

    <div>
      <h4>t-SNE Iterations [{{ tsneIterations}}]</h4>
      <mat-slider [disabled]="isGenerating" min="1" max="1000" step="1" [(ngModel)]="tsneIterations" thumbLabel tickInterval="1000"></mat-slider>
    </div>

    <button [disabled]="isGenerating" (click)="onGenerate()" mat-raised-button color="primary">Generate Visualization</button>

  </mat-card-content>

</mat-card>

<mat-card>
  <mat-card-content>

    <div [hidden]="!isGenerating">Please wait ...</div>

    <app-graph *ngIf="graphData" [data]="graphData"></app-graph>
  </mat-card-content>
</mat-card>
